/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #f6f6f9;
}

.bg {
    width: 420px;
    height: 100%;
    background-image: url('../../image/bg_login.svg');
    background-repeat: no-repeat;
}

.main {
    width: 600px;
    padding: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    font-size: 40px;
    color: #E30613;
    text-shadow: 0px 5px 2px rgba(200, 132, 132, 0.18);
    opacity: 0;
    transform: translateX(-75px);
    animation: fadeRight 1s ease-in-out forwards;
}

.conteiner {
    width: 500px;
    padding: 30px 60px 40px 60px;
    margin: 50px auto 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 25px 3px rgba(200, 132, 132, 0.18);
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-75px);
    animation: fadeRight 1s 0.3s ease-in-out forwards;
}

.erro {
    width: 100%;
    margin-bottom: 25px;
    text-align: left;
    opacity: 0;
}

.erro p {
    color: red;
    font-size: 18px;
    transition-duration: 2s;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#form {
    width: 100%;
}

.input-container:nth-child(1) {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-container:nth-child(2) {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form_input {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid red;
    outline: none;
    background-color: transparent;
}

.form_label {
    padding: 0 5px;
    position: absolute;
    top: 13px;
    left: 18px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    background-color: #f6f6f9;
    color: rgba(0, 0, 0, 0.6);
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown).form_input:not(:focus) ~ .form_label {
    font-size: 17px;
    top: -10px;
    left: 10px;
    color: rgba(0, 0, 0, 1);
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 80px;
    border-radius: 10px;
    outline: none;
    background-color: rgba(227, 6, 19, 0.5);
    color: #fff;
    border: none;
    box-shadow: 0px 0px 25px 3px rgba(200, 132, 132, 0.5);
}

.btn_active {
    background-color: rgba(227, 6, 19, 1);
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn_active:hover {
    background-color: rgb(255, 11, 27);
    box-shadow: 0px 0px 25px 3px rgba(200, 132, 132, 1);
    transform: scale(1.01);
}

.divisor {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divisor .linha:nth-child(1) {
    width: 43%;
    height: 4px;
    border-radius: 5px 0 0 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.divisor .linha {
    width: 43%;
    height: 4px;
    border-radius: 0 5px 5px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.divisor p {
    color: rgba(0, 0, 0, 0.5);
    font-weight: lighter;
    font-size: 16px;
}

.link {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    color: #0000FFCC;
    text-decoration: none;
    transition-duration: 0.3s;
}

.link:hover {
    color: #0000ff;
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(-75px);
    animation: fadeRight 1s 0.6s ease-in-out forwards;
}

.developed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.developed p {
    color: black;
    font-size: 22px;
}

.developed img {
    margin-left: 10px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.developed img:hover {
    cursor: pointer;
}

.p-footer {
    color: #808080;
    font-size: 14px;
}

@media screen and (max-width: 1024px) {

}

@keyframes fadeRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}