@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f6f6f9;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  margin: 0;
}

.search {
  width: 100%;
}

.search h1,
.home-section h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  color: #e30613;
  text-shadow: 0px 4px 4px rgba(200, 132, 132, 0.25);
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeRight 1s ease-in-out forwards;
}

.search-content {
  width: 100%;
  height: 37px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form_input {
  font-size: 16px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  border: none;
  border-bottom: 3px solid #e30613;
  outline: none;
  background-color: transparent;
}

.form_label {
  font-size: 20px;
  padding: 0 5px;
  position: absolute;
  top: -0px;
  left: 0px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  color: rgba(0, 0, 0, 0.6);
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown).form_input:not(:focus) ~ .form_label {
  font-size: 18px;
  top: -20px;
}

.search-content select {
  height: 100%;
  font-size: 18px;
  border: none;
  border-bottom: 3px solid #e30613;
  outline: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
}

.search-content button {
  width: 90px;
  height: 100%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: rgba(227, 6, 19, 0.5);
  border-radius: 5px;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 25px 3px rgba(200, 132, 132, 0.5);
}

.btn_active {
  background-color: rgba(227, 6, 19, 1);
  cursor: pointer;
  transition-duration: 0.3s;
}

.btn_active:hover {
  background-color: rgb(255, 11, 27);
  box-shadow: 0px 0px 25px 3px rgba(200, 132, 132, 1);
  transform: scale(1.01);
}

/* tabela */
.scroll {
  width: 1100px;
  max-height: 800px;
  margin-top: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 3px rgba(200, 132, 132, 0.18);
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  border: none;
  outline: none;
  background-color: #fff;
}

.thead {
  width: 1100px;
  display: flex;
  flex-direction: row;
  padding: 15px 35px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  position: relative;
  top: 43px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
  display: none;
}

.thead p:nth-child(2) {
  margin-left: 15.6%;
}

.thead p:nth-child(3) {
  margin-left: 18.2%;
}

.thead p:nth-child(4) {
  margin-left: 12.4%;
}

.thead p:nth-child(5) {
  margin-left: 11.8%;
}

.thead p:nth-child(6) {
  margin-left: 9.7%;
}

.thead p:nth-child(7) {
  margin-left: 6%;
}

.thead p:nth-child(8) {
  margin-left: 5.8%;
}

.thead2 th {
  font-weight: 600;
  text-align: center;
  padding: 15px 20px;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.tbody {
  text-align: center;
}

.tbody tr:nth-child(1) td {
  padding: 10px 5px 10px 5px;
}

.tbody td {
  padding: 15px 5px;
}

.status {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 10px;
  padding: 0 5px;
}

.spanStatus {
  width: 10px;
  height: 10px;
  margin: 0 5px 0 0;
  border-radius: 15px;
}

.status span {
  text-align: center;
  font-size: 14px;
}

.btnAlterar,
.btnDeletar {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 25px;
  color: #fff;
  border-radius: 5px;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 25px 3px rgba(200, 132, 132, 0.18);
}

.btnAlterar {
  background-color: #fbc02d;
}

.btnDeletar {
  background-color: #e30613;
}

.btnAlterar:hover,
.btnDeletar:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.verMais i {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6);
  transition-duration: 0.3s;
}

.verMais i:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* Modal de Informação */

.modalInfo {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}

.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  border-radius: 20px;
  width: 600px;
  padding: 60px 40px 30px 40px;
  background-color: #fff;
  box-shadow: 0px 0px 25px 3px rgba(200, 132, 132, 0.18);
}

.modal-content h1 {
  font-size: 25px;
  text-align: justify;
  color: #e30613;
  text-shadow: 0px 4px 4px rgba(200, 132, 132, 0.25);
  animation: fadeRight 1s ease-in-out forwards;
}

#closeInfo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e30613;
  text-shadow: 0px 4px 4px rgba(200, 132, 132, 0.25);
  transition-duration: 0.3s;
}

#closeInfo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#descricaoAgendamento {
  width: 100%;
  margin-top: 20px;
  text-align: justify;
}

.flex-container {
  width: 100%;
  margin-top: 20px;
}

.flex-content {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

/* Modal de Alteração */

.modal-content-alterar {
  width: 650px !important;
}

.modal-content-alterar h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e30613;
  text-shadow: 0px 4px 4px rgba(200, 132, 132, 0.25);
  transition-duration: 0.3s;
}

#close:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.showModal {
  display: block !important;
}

.hiddenModal {
  display: none;
}

@media screen and (max-width: 1440px) {
  .scroll {
    width: 900px;
  }

  .thead {
    width: 900px;
    padding: 15px 25px;
  }

  .tabela {
    width: 900px; 
  }
  
  .thead p:nth-child(2) {
    margin-left: 15.2%;
  }

  .thead p:nth-child(3) {
    margin-left: 17.2%;
  }
  
  .thead p:nth-child(4) {
    margin-left: 11.7%;
  }
  
  .thead p:nth-child(5) {
    margin-left: 10.6%;
  }
  
  .thead p:nth-child(6) {
    margin-left: 8.2%;
  }
}



@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
