@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Estilo para modal que fecha ao clicar fora do calendário */
#modal-fecha {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 1;
}

/* Estilo do calendário inteiro */
#calendar {
  display: none;
  position: fixed;
  text-align: center;
  align-items: center;
  top: 7.5%;
  right: 15%;
  margin: auto;
  padding: 1rem;
  width: 45%;
  z-index: 10;
  background-color: #ffff;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 3px rgb(200 132 132 / 25%);
}

/* Estilos botões bootstrap */
.btn {
  font-size: 0.8em;
  background-color: rgba(227, 6, 19, 0.5);
}

.btn.disabled{
  background-color: rgba(227, 6, 19, 1)
}

.btn:disabled{
  background-color: rgba(227, 6, 19, 1);
}

.btn:focus {
  background-color: rgba(227, 6, 19, 0.5);
}

/* Estilos do btn-primary */

.btn-primary {
  color: #f6f6f6 !important;
  border-color: rgba(227, 6, 19, 0.5) !important;
}

.btn-primary:hover {
  background-color: rgba(227, 6, 19, 1) !important;
}

.btn-primary.active {
  background-color: rgba(227, 6, 19, 1) !important;
}

.btn-primary.disabled{
  border-color: rgba(227, 6, 19, 1) !important;
}

.btn-primary:disabled {
  border-color: rgba(227, 6, 19, 1) !important;
}

.fc-today-button{
  
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  margin:0;
  color: #000;
  background-color: #f6f6f6;
  font-size: 0.8em;
  padding: 0.2rem 1rem;
  border-radius: 5px;
}

.fc .fc-toolbar-title{
  font-size: 1.2em;
  
}