/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f6f6f9;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    padding-right: 10px;
    background: transparent;
    z-index: 100;
    transition: all 0.5s ease;
    /* border-right: 2px solid rgba(0, 0, 0, 0.1); */
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .logo-details img{
    width: 220px;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0px 0px 25px 3px rgb(200 132 132 / 25%);
}

.sidebar .logo-details i {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
    margin: 10px 10px 10px 20px;
    padding-right: 10px;
}


.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li:hover i  {
   color: rgba(227, 6, 19, 0.5); 
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover a .link_name  {
    color: rgba(227, 6, 19, 0.5); 
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 5px 5px 5px 80px;
    margin-top: -10px;
    background: transparent;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li.showMenu .sub-menu li:nth-child(n+1) {
    list-style-type: disc;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding-left: 5px;
}

.sidebar .nav-links li.showMenu .sub-menu li:nth-child(n+1):hover {
    border: none;
    background-color: transparent;
}

.sidebar .nav-links li .sub-menu a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    color: rgba(227, 6, 19, 0.8);
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover {
    transform: translateX(5px);
}

.sidebar .nav-links li:nth-child(7):hover,
.sidebar .nav-links li:nth-child(8):hover {
    transform: none;
}

.sidebar .nav-links li:nth-child(7):hover i,
.sidebar .nav-links li:nth-child(8):hover i {
    color: rgba(0, 0, 0, 0.5)
}

.sidebar .profile-details {
    position: fixed;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .profile_name a,
.sidebar .profile-details .job {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    transition-duration: 0.3s;
}

#exit, #login {
    min-width: 60px;
    border-radius: 100px;
}

#exit:hover, #login:hover {
    color: rgba(227, 6, 19, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.home-section {
    position: relative;
    height: 100vh;
    left: 280px;
    width: calc(100% - 280px);
    transition: all 0.5s ease;
    padding: 50px;
}

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content.hide {
    height: 60px;
    display: none;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #11101d;
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }

    .sidebar {
        width: 78px;
    }

    .sidebar.close {
        width: 0;
    }

    .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }

    .sidebar.close~.home-section {
        width: 100%;
        left: 0;
    }
}

.scroll {
    border: 1px solid #000;
    overflow: auto;
    width: fit-content;
    height: 600px;
}

.tabela {
    border-collapse: collapse;
}

.tabela th, .tabela td {
    padding: 5px 10px;
}

.modalAlterar {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}

.modal-content {
    width: 700px;
    background-color: #fff;
    margin: 100px auto;

}

.header {
    display: flex;
    justify-content: space-between;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

@keyframes showSelected {
    to {
        transform: translate(5px, -5px);
        box-shadow: -15px 5px 25px rgb(200 132 132 / 25%);
    }
}

.floating-button {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 50px;
    background-color: rgba(227, 6, 19, 1);
    box-shadow: 0px 0px 25px 3px rgba(200, 132, 132, 0.9);
}

.floating-button i {
    color: #fff;
    font-size: 40px;
}