@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Estilo para modal que fecha ao clicar fora do calendário */
#modal-fecha {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 1;
}

/* Estilo do calendário inteiro */
#calendar {
  display: none;
  position: fixed;
  text-align: center;
  align-items: center;
  top: 1.5%;
  /* right: 30%; */
  left: 27.5%;
  margin: auto;
  padding: 1rem;
  width: 60%;
  z-index: 10;
  background-color: #ffff;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 3px rgb(200 132 132 / 25%);
}

/* Estilos botões bootstrap */
.btn {
  font-size: 0.8em;
  background-color: rgba(227, 6, 19, 0.5);
}

.btn.disabled{
  background-color: rgba(227, 6, 19, 1)
}

.btn:disabled{
  background-color: rgba(227, 6, 19, 1);
}

.btn:focus {
  background-color: rgba(227, 6, 19, 1);
  border-color: #fff;
}

/* Estilos do btn-primary */

.btn-primary {
  color: #f6f6f6 !important;
  border-color: rgba(227, 6, 19, 0.5) !important;
}

.btn-primary:hover {
  background-color: rgba(227, 6, 19, 1) !important;
}

.btn-primary.active {
  background-color: rgba(227, 6, 19, 1) !important;
}

.btn-primary.disabled{
  border-color: rgba(227, 6, 19, 1) !important;
}

.btn-primary:disabled {
  border-color: rgba(227, 6, 19, 1) !important;
}

.fc .fc-col-header-cell-cushion {
  width: 100%;
  display: inline-block;
  margin:0;
  color: #000;
  background-color: #f6f6f6;
  font-size: 0.8em;
}

.fc .fc-toolbar-title{
  font-size: 1.2em;
  
}

/* Responsividade para outras telas de computador */
@media screen and (max-width: 1600px){
  /* Estilo da modal do calendário inteiro */
  #calendar {
    top: 7%;
    left: 28.7%;
  }
}

@media screen and (max-width: 1440px){
  /* Estilo da modal do calendário inteiro */
  #calendar {
    top: 12%;
    left: 29.6%;
  }
}

@media screen and (max-width: 1366px){
  /* Estilo da modal do calendário inteiro */
  #calendar {
    top: 6%;
    left: 30.1%;
  }
}

@media screen and (max-width: 1280px){
  /* Estilo da modal do calendário inteiro */
  #calendar {
    top: 20%;
    left: 31%;
  }
}

@media screen and (max-width: 1024px){
  /* Estilo da modal do calendário inteiro */
  #calendar {
    top: 8%;
    left: 35%;
  }
}