.mensagens {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 450px;
    margin: 20px;
    color: black;
    z-index: 1500;
}

.message {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 25px 3px rgba(200, 132, 132, 0.18);
    transform: translateY(30px);
    opacity: 0;
    animation: fadeMessage 2.5s ease-in-out forwards;
}

.msg-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

.msg-content p {
    margin: 0 !important;
}

.msg-content i {
    margin-right: 5px;
    font-size: 25px;
}

.msgTempo {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

.barraTempo {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 10px;

    border-radius: 5px;
    /* DEFINIR COR PARA A BARRA DE TEMPO */
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateX(0);
    animation: time 2s ease-in-out forwards;
}

@keyframes fadeMessage {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    10% {
        transform: translateY(0px);
        opacity: 1;
    }

    90% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(30px);
        opacity: 0;
    }
}

@keyframes time {
    to {
        transform: translateX(-101%);
    }
}